body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333333;
  background-color: #fff;
}

div.navbar-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  box-sizing: border-box;
}
nav.navbar {
  background-color: #222;
  border-color: #080808;
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}

a.navbar-links {
  color: #9d9d9d;
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}

table {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  background-color: transparent;
  border-color: grey;
}
thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}
tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}
table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
  padding: 8px;
  line-height: 1.42857143;
}



form {
  display: block;
  margin-top: 0em;
}

button {
  background-color: buttonface;
  text-shadow: none;
  display: inline-block;
}




input, button, select  {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  text-transform: none;
  color: inherit;
  font: inherit;
  margin: 0;
}



a {
  color: #337ab7;
  text-decoration: none;
  background-color: transparent;
}

a:hover, a:focus {
  color: #23527c;
  text-decoration: underline;
}