body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333333;
  background-color: #fff;
}

div.navbar-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  box-sizing: border-box;
}
nav.navbar {
  background-image: linear-gradient(
    -165deg,
    rgba(86, 0, 78, 0.91) 0%,
    rgba(6, 109, 150, 0.91) 100%
  );

  /* background-color: #222; */
  border-color: #080808;
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}

a.navbar-links {
  color: #ffffff;
  float: left;
  /* height: 50px; */
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}

table {
  width: 100%;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  border-color: grey;
  border-spacing: 2px;
  border-collapse: collapse;
  box-sizing: border-box;
}

thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

.table-headers {
  vertical-align: bottom;
  line-height: 20px;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

tbody > tr:nth-child(odd) {
  background-color: rgb(223, 255, 214);
}

tbody > tr:nth-child(even) {
  background-color: rgb(173, 230, 158);
}

form {
  display: block;
  margin-top: 0em;
}

button {
  background-color: buttonface;
  text-shadow: none;
  display: inline-block;
}

input,
button,
select {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  text-transform: none;
  color: inherit;
  font: inherit;
  margin: 0;
}

input.table,
select.table {
  margin: 0px 0px 0px 0px;
  border: none;
  padding: 2px 0px 2px 2px;
  background: transparent;
  margin: 0;
  width: 100%;
}

a {
  color: #337ab7;
  text-decoration: none;
  background-color: transparent;
}

a:hover,
a:focus {
  color: #d2d2d2;
}

.total > td {
  text-align: right;
  font-weight: 700;
  border: none;
}

td,
th {
  border: 1px solid rgb(120, 120, 120);
  padding: 0 0 0 0;
}
